<script>

module("Redirect");
test("correct host", function() {
	equal(PB.isSmallScreen, PB.isSmallHost, "Size and host match");
});


test("small host and screen", function() {
	equal(PB.isSmallHost, true, "host is big, not small");
	equal(PB.isSmallScreen, true, "screen is big, not small");
});
</script>

</head>
<body>
	<h1 id="qunit-header">QUnit example</h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
	<div id="qunit-fixture">test markup, will be hidden</div>
</body>
