<script>
$(document).ready(function(){

module("TestUtilS");

test("TestUtil.newPageJs", function() {
	var setup = {
			id: 5,
			width: "16in",
	};
	var page_js = TestUtil.newPageJs(setup);
	equal(setup.id, page_js.id, "id assignment");
	equal(setup.width, page_js.width, "width assignment");
	ok(page_js.html, "html attribute");
	var page = new PB.BookPage(page_js);
	ok(page, "Page created");
});

test("TestUtil.newImagejs", function() {
	var setup = {
		id: 7
	};
	var image_js = TestUtil.newImageJs(setup);
	equal(image_js.id, setup.id, "id assignmnent");
	var image = new PB.ImageBroker(image_js);
	ok(image, "Image created");	
});

test("TestUtil.newBookJs", function() {
	var setup = {
		title: "book 1"
	};
	var book_js = TestUtil.newBookJs(setup);
	equal(setup.title, book_js.title, "title assignment");
	book_js = TestUtil.newBookJs(setup, 5,5);
	equal(book_js.pages.length, 5, "page generation");
	equal(book_js.photos.length, 5, "photo generation");
	var book = new PB.Book(book_js);
	ok(book, "Book created");
});

  }); 
</script>
