body {
	margin: 0;
}

.book-image {
	position: absolute;
	overflow:hidden;
}

.actual-image {
	position: absolute;
}

.book-text {
	position: absolute;
	border: 1px solid transparent;
	font-size: 12px;
	height: auto;
}
