<!DOCTYPE html>
<html>
<head>
	<title>Touch Mockup</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<%= asset_link("bootstrap.css", "application.css", "editor.css") %>
	<%= asset_link("jquery.js") %>
	<%= asset_link("bootstrap.js") %>
	<%= asset_link("application.js") %>
	<%= asset_link("editor.js") %>
<scripts src="http://dev.pb4us.com:9000/target/target-script-min.js"></script>
</head>
<body>

<div id='pb'>
	<div id='pb-work-area'>
		<div id='work-area-tools'>
			<div id='add-page-btn' class='btn' rel="tooltip" title="Drag and drop the button to insert pages in the middle"><i class='icon-plus-sign'></i> Add page</div>
			<div id='remove-page-btn' class='btn' rel='tooltip' title='Drag anything over this button to remove it'><i class='icon-minus-sign'></i> Remove </div>
		</div>
		<div id='work-area-rough'>
			</div>
	</div>
	<div id='pb-palette'>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="dropdown">
						<a class='dropdown-toggle' data-toggle='dropdown' href="#">sveg's photo
						<b class="caret icon-white"></b>
						</a>
						<ul class='dropdown-menu'>
							<li><a href="">about</a></li>
							<li><a href="/">home</a></li>
						</ul>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
							Toolbox<b class="caret icon-white"></b>
						</a>
						<ul class="dropdown-menu">
			  	  	<li><a href='javascript:alert("add photo")'>Add photo</a></li>
			  	  	<li>Show
			  	  		<ul>
			  	  			<li><a href='javascript:alert("all")'>all photos</a></li>
			  	  			<li><a href='javascript:alert("unused")'>unused photos</a></li>
			  	  		</ul>
			  	  	</li>
			  	  	<li>View
			  	  		<ul>
			  	  			<li><a href='javascript:GUI.CommandManager.doCommand("viewBiggerImages")'>Bigger photos</a></li>
			  	  			<li><a href='javascript:GUI.CommandManager.doCommand("viewSmallerImages")'>Smaller photos</a></li>
			  	  			<li><a href='javascript:GUI.CommandManager.doCommand("viewMoreImages")'>More photos</a></li>
			  	  			<li><a href='javascript:GUI.CommandManager.doCommand("viewFewerImages")'>Fewer photos</a></li>
			  	  		</ul>
			  	  	</li>
			  		</ul>
			  	</li>
				</ul>
				<ul id='palette-tabs' class='nav nav-tabs'>
					<li class='active'><a data-toggle='tab' href='#photo-list-container'>Your photos</a></li>
					<li><a data-toggle='tab' href='#background-list-container'>Backgrounds</a></li>
					<li><a data-toggle='tab' href='#layout-list-container'>Layouts</a></li>
					<li><a data-toggle='tab' href='#gadget-list-container'>Gadgets</a></li>
				</ul>
				<ul class="nav pull-right">
<% if current_user %>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
							<%= current_user.display_name %><b class="caret"></b></a>
						<ul class='dropdown-menu'>
							<li><a href="/account">account</a>
							<li><a href="/logout">log out</a>
<% if current_user.is_administrator %>
							<li><a href="/admin" class="admin">admin</a>
<% end %>
						</ul>
					</li>
<% else %>
					<li><a href="/auth/login">log in</a>
<% end %>
				</ul>
		</div>
	</div>
</div>

		<div id='toolmenu' class="btn-group">
  		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class='icon-wrench'></i><span class="caret"></span></a>
	  	<ul class="dropdown-menu">
  	  	<li><a href='javascript:alert("add photo")'>Add photo</a>
  	  	<li>Show
  	  		<ul>
  	  			<li><a href='javascript:alert("all")'>all photos</a>
  	  			<li><a href='javascript:alert("unused")'>unused photos</a>
  	  		</ul>
  		</ul>
		</div>
		<div id='palette-tabs-container' class='tab-content'>
			<div class="tab-pane active"  id='photo-list-container'>
				<div id='photo-list'>
				</div>
			</div>

			<div class="tab-pane" id='background-list-container'>
				Backgrounds!
			</div>
			<div class="tab-pane"  id='layout-list-container'>
				Layouts!
			</div>
			<div class="tab-pane" id='gadget-list-container'>
				Gadgets!
			</div>
		</div>
		<div id='palette-resize-btn'>
		</div>
	</div>
</div>
<script>


function insertImages() {
	var html ="";
	for (var i=0; i<20; i++)
		html += "<img src='/assets/test/" + i + ".jpg?size=icon'>"
	$('#photo-list').append(html);
	$('#photo-list img').each(function() {
		GUI.PhotoPalette.makeDraggable(this);
	});
}

// Initialization
PB.init();
GUI.init();
var book = new PB.Book(<%= @book.to_json %>);
GUI.bindToBook(book);

//insertImages();

</script>
</body>
