<!DOCTYPE html>
<html>
<head>
	<title>Pook.io editor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<%= asset_link("bootstrap.css", "application.css", "editor.css") %>
</head>
<body>
<input id="add-photo-input"
		type="file"
		multiple="true"
		accept="image/*"
		capture="filesystem"
		style="position:absolute;width:0px;height:0px;border:0;padding:0;margin:0"></input>
<div id='top-menu' class="navbar navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav">
			<li class="dropdown" style='width:130px'>
				<a href="#"
				class="brand dropdown-toggle"
				data-toggle="dropdown">
pook.io <b class="caret"></b>
				</a>
				<ul class='dropdown-menu'>
					<li class="disabled" ><a href="#">
about</a></li>
					<li><a href="/">
home</a></li>
				</ul>
			</li>
			<li
					rel='tooltip'
					title='Esc to toggle'>
		<a href='Tools' onclick="GUI.toggleTools();return false;"><i class='icon-wrench icon-white'></i>
Tools <i class='icon-wrench icon-white'></i> </a>
		</ul>
		<ul class="nav pull-right">
<% if current_user %>
			<li class="dropdown">
				<a href="#"
				class="dropdown-toggle"
				data-toggle="dropdown">
<%= current_user.display_name %><b class="caret"></b>
    		</a>
    		<ul class='dropdown-menu'>
					<li><a href="/account">account</a></li>
					<li><a href="/logout">log out</a></li>
					<% if current_user.is_administrator %><li><a href="/admin" class="admin">admin</a><% end %>
				</ul>
				<% else %>
					<li><a href="/auth/login">log in</a>
				<% end %>
		</ul>
	</div>
</div>
<div id="rough-more-tools" style='display:none'>
	<dl>
	<dt>
		Display
	</dt>
	<dd>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label">Show photos</label>
				<div class="controls btn-group">
					<button id='photoFilter-all' class="btn">All</button>
					<button id='photoFilter-unused'class="btn">Unused</button>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Sort photos by</label>
				<div class="controls btn-group">
					<button id='photoSort-added' class="btn">Date added</button>
					<button id='photoSort-taken' class="btn">Date taken</button>
					<button id='photoSort-name' class="btn">Name</button>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Photo size</label>
				<div class="controls btn-group">
					<button id='photoSize-small' class="btn">Small</button>
					<button id='photoSize-medium' class="btn">Medium</button>
					<button id='photoSize-large' class="btn">Large</button>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Page size</label>
				<div class="controls btn-group">
					<button id='pageSize-small' class="btn">Small</button>
					<button id='pageSize-medium' class="btn">Medium</button>
					<button id='pageSize-large' class="btn">Large</button>
				</div>
			</div>
		</form>
	</dd>
	<dt>
		Actions
	</dt>
	<dd>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label">Add photos from</label>
				<div class="controls">
					<button id='tool-addLocalFile' class="btn">Local files</button>
					<button class="btn disabled">more sources to come</button>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Photo placement</label>
				<div class="controls">
					<button id='tool-autoPlace' class="btn">Place all photos on pages automatically right now</button>
				</div>
		</form>
	</dd>
	</dl>
</div>
<div class='navbar-inverse' id="sidebar">
	<ul class="nav nav-tabs nav-stacked ">
	  <li id='work-area-rough-nav'><a href='/Organize' onclick='GUI.Options.designStage="organize"; return false;'>Organize</a>
	  <li id='work-area-design-nav'><a href='/Design' onclick='GUI.Options.designStage="design"; return false;'>Design</a>
	  <li id='work-area-print-nav'><a href='/Print' onclick='GUI.Options.designStage="print"; return false;'>Print</a>
	</ul>
	<ul class="nav nav-pills nav-stacked">
		<li >
			<a id='add-photo-btn' href="#">Add photo</a>
		<li id='add-page-btn'
			rel="tooltip"
			title="You can DRAG the button to insert pages in the middle"
		>
			<a href="#" >Add page</a>
	</ul>
	<div id='trash-btn'
		class='well'
		style='position:absolute;bottom:0px;right:0px;left:0px;margin-bottom:0px'
		rel='tooltip'
		title='Anything dropped here will be removed (images, pages)'>
		<i class='icon-trash icon-white'></i> Trash
	</div>
</div>
<div id="main-content">
	<div id='palette'>
		<div id='photo-list-container'>
			<div id='photo-list'>
			</div>
		</div>
	</div>
	<div id='work-area'>
		<div id='work-area-container'>
			<div id='work-area-rough'>
			</div>
			<div id='work-area-design'>
				Design
			</div>
			<div id='work-area-print'>
				Print
			</div>
		</div>
	</div>
	<div id='palette-resize-btn'>
	</div>
</div>
<!-- Templates -->
<script type='text/html' id='error-locked-template'>
<div id='error-locked' class='alert alert-error'>
	<p>Uh oh, your book is corrupted. This can happen when book is edited from two places at the same time.</p>
	<p>You can still look at your book, but you cannot save any changes.</p>
	<p>To unlock the book, <a href='#' onclick='window.location.reload(); return false'>reload</a>.</p>
	<p id='lockedMessage'><p>
	<p>Developers, look at the console for details.</p>
</div>
</script>
<scripts type='text/html' id='pick-book-style-template'>
<div>
	<h1>Hello Designer</h1>
	<p>Before we get to serious design</p>

	<h6>TODO: this dialog will be a week worth of work one day</h6>
</div>
</script>
<%= asset_link("jquery.js") %>
<%= asset_link("bootstrap.js") %>
<%= asset_link("editor.js") %>
<scripts src="http://dev.pb4us.com:9000/target/target-script-min.js"></script>
<script>

PB.init();
GUI.init();
$.ajax('/books/'+ <%= @book.id %> + "?bust_cache=" + Math.random())
	.done(function(response, msg, jqXHR) {
		GUI.bindToBook( new PB.Book(response));
	})
	.fail(function(response, msg, jsXHR) {
		PB.error("Unable to load book");
	});
console.log("Loaded at", new Date());
</script>
</body>
