<html>
<head>
	<title>Incompatible, sorry</title>
</head>
<body>
<h1>Oh no,</h1>
<p>we'd love to have you, but your browser is too old, and you won't be able to see much</p>
<p>Why don't you try again with a different browser?</p>
<p>We suggest <a href='http://getfirefox.com/'>Firefox</a> or <a href='https://www.google.com/chrome'>Chrome.</p>
</body>
