<!DOCTYPE html>
<html>
<head>
	<title>Incompatible, sorry</title>
</head>
<body>
<h1>Oh no,</h1>
<p>your browser is not supported by our site. Why don't you try again with a different browser?</p>
<p><a href='http://getfirefox.com/'>Firefox</a> or <a href='https://www.google.com/chrome'>Chrome</a> are awesome.</p>
<p>We test our site on Chrome, Firefox, Safari, IE10, iPad, and Nexus 7.</p>

<script>
</script>
</body>
