<a href="https://github.com/atotic/pb_server"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<h2>An HTML5 Photobook Editor Demo</h2>
<p id='small-warn'>This demo does not fit well on small screens</p>

<p>This is a technology demo of a photobook editor.</p>

<p>This page is an interactive editor. Click on the "Organize"|"Design" tabs above, and experiment: drag pictures/pages around, change themes. Have your friends do the same at the same time, you are all working on the same book.</p>

<p>The source code and philosophy are on Github.</p>


<br>
<br>
<br>
<p>If you'd like to create private books, log in:</p>
<div id="openid_btns">
	<a title="google" href="/auth/google_oauth2?origin=/login" style="background-image: url(/img/auth/google_64.png)">google</a>
	<a title="facebook" href="/auth/facebook?origin=/login" style="background-image: url(/img/auth/facebook_64.png)">facebook</a>
	<% if SvegSettings.development? %>
	<a title="developer" href="/auth/developer?origin=/login" style="background-image: url(/img/auth/openid_64.png)">developer</a>
	<% end %>
</div>
	<input type='checkbox' id='duration'> <label for='duration'>keep me logged in</input>
<script>

</script>
<style type="text/css">
	@media (min-width: 600px) {
		#small-warn {
			display:none;
		}
	}
	#small-warn {
		font-size:20px;
	}
	#work-area-demo {
		margin: 32px;
	}
	#openid_btns a {
		display:inline-block;
		height: 80px;
		border: 2px solid transparent;
		padding-left: 8px;
		margin-right: 16px;
		background-position: 0px 16px;
		background-repeat: no-repeat
	}
	#openid_btns a:link, a:visited{
		text-decoration: none;
		color: black;
	}
	#openid_btns a:hover {
		box-shadow: inset 0px 0px 5px #61A326;
		background-position: 0px 15px;
	}
</style>
