<!DOCTYPE html>
<html>
<head>
	<title>Photobook</title>
	<%= asset_link("jquery.js", "jquery-ui.js", "application.js", "editor.js", "editor.model.js", "editor.ui.js") %>
	<%= asset_link("jquery-ui.css", "application.css") %>
</head>
<body>
	<%= erb :'layout/header_bar' %>
<div id="photos-slab" class="slab">
	<div class="slab_top">
		<div class="slab_title">
			<span class="flippy" state="closed"></span>Photos
		</div>
		<div class="slab_tools">
			Menu button Menu button
		</div>
	</div>
	<div id="photos-tab" class='slab_content'>
		<div class="intro">Drag your photos here</div>
		<div id="photo-list-slider"></div>
		<div id="photo-list-container">
			<div id="photo-list"></div>
		</div>
	</div>
</div>
<div id="pages-slab" class="slab">
	<div class="slab_top">
		<div class="slab_title">
			<span class="flippy" state="closed"></span>Book
		</div>
		<div class="slab_tools">
			Menu button Menu button
		</div>
	</div>
	<div id="pages-tab" class='slab_content'>
		<div class="intro">Paging Dr. Guttenberg...</div>
		<div id="page-list-slider"></div>
		<div id="page-list-container">
			<div id="page-list"></div>
		</div>
	</div>
</div>
<input type="file" id="file-dialog" multiple="true" accept="image/*" style="display:none">
<div id="content-slab">
	<div class="slab_top">
		<div class="slab_title" style="padding-left:32px">
			Page
		</div>
		<div class="slab_tools">
			Menu button Menu button
		</div>
	</div>		
	<div id="main-container">
		<p>This is main</p>
	</div>
</div>
<script type="text/javascript">
"use strict"
$(document).ready( function() {
		$(".slab").each( function() {
			var slab = $(this); 
			var slab_content = slab.find('.slab_content');
			var flippy = slab.find('.flippy');
			var slab_click = slab.find('.slab_title');
			$(flippy).flippy('open', slab_content, slab_click);
		});
});
</script>
<style type="text/css" contenteditable style="display:none;white-space:pre; font-size: 13px; font-family:Monaco, Mono-Space;border-top: 5px solid gray">
@charset "utf-8";
/* GENERAL */
body {
	height:100%;
	background-color: #EEE;
}
.chrome {
	font-family: arial, serif;	
}
.flippy {
	padding: 0 10px 0 10px;
	font-size: 20px;
	font-weight: normal;
	width:16px;
}
.flippy[state="closed"]:after {
	font-family: arial, serif;
	content: "\25B8";
}
.flippy[state="open"]:after {
	font-family: arial, serif;
	content: "\25BE";
}

.slab_top {
	background-color: #EEE;
	background: linear-gradient(top, #EEE 0%,#AAA 100%);
	background: -moz-linear-gradient(top, #AAA 0%,#EEE 100%);
	background: -webkit-linear-gradient(top, #AAA 0%,#EEE 100%);
	font-family: arial, serif;
	padding: 2px 0 2px;
}
.slab_title {
	display: inline-block;
	font-size: 100%;
	font-weight: bold;
	width: 150px;
}
.slab_tools {
	display: inline-block;
	visibility: hidden;
}
.slab_content {
	padding: 0px 10px 4px 10px;
}

/* Photos tab */
#photos-tab {
	padding-right: 1px;
	min-height: 128px;
}
#photo-list-container {
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}
#photo-list {
	max-height: 128px;
}
#photo-list > div {
	padding: 0 3px 0 3px;
	display: inline-block;
}

#photo-list-slider {
	display:none;
	margin-bottom: 4px;
}
#photo-list-slider .ui-slider-handle {
	background: none; 
	background-color: rgba(100,100,0,0.5);
	border: 2px solid yellow;
	height:14px;
	top:-2px;
	margin-left:0px;
}
#page-list-slider {
	display:none;
	margin-bottom: 4px;
}

#page-list canvas {
	border: 2px solid transparent;
}
#page-list canvas.selected {
	border: 2px solid yellow;
}

/* Book page */
#main-container {
	display: box;
	background-color: #EEE;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
  -moz-box-pack: center;
	box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
	box-align: center;
}
.svg-enclosure {
	box-shadow: 0 0 5px gray;
}
.book-page {
	display:block;
}
</style>