<h1>Log in</h1>
<hr>
<p>TOUCH: Do you already have an account on one of these sites? Click the logo to <b>log in</b> with it here:</p>
<div id="openid_btns">
	<a title="log in with facebook" href="/auth/facebook?origin=/login" style="background-image: url(/img/auth/facebook_64.png)">log in with facebook</a>
	<a title="log in with google" href="/auth/google_oauth2?origin=/login" style="background-image: url(/img/auth/google_64.png)">log in with google</a>
	<% if SvegSettings.development? %>
	<a title="log in with pb4us" href="/auth/developer?origin=/login" style="background-image: url(/img/auth/openid_64.png)">log in as developer</a>
	<% end %>
</div>
	<input type='checkbox' id='duration'> <label for='duration'>keep me logged in</input>
<script>
	$('#keep').change( function(x,y) {
		var state = $('#duration')[0].checked ? 'long' : 'session'
		$("#openid_btns a").each(function(index, el) {
			el.href = el.href.replace(/\/login.*$/, '/login/' + state);
		});
	});
</script>
<style type="text/css" contenteditable style="display:none;white-space:pre; font-size: 13px; font-family:Monaco, Mono-Space;border-top: 5px solid gray">
	#openid_btns a {
		display:inline-block;
		width: 80px;
		height: 80px;
		background-color: white;
		border: 2px solid transparent;
		font-size: 9px;
		padding-left: 8px;
		margin-right: 16px;
		background-position: 0px 16px;
		background-repeat: no-repeat
	}
	#openid_btns a:link, a:visited{
		text-decoration: none;
		color: black;
	}
	#openid_btns a:hover {
		box-shadow: inset 0px 0px 5px #61A326;
		background-position: 0px 14px;
	}
</style>
</body>
