<!DOCTYPE html>
<html>
<head>
	<title>Photobook</title>
	<script src="/javascripts/jquery-1.5.js"></script>
	<script src="/javascripts/jquery-ui-1.8.9.custom.js"></script>
	<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/smoothness/jquery-ui-1.8.9.custom.css" media="screen" rel="stylesheet" type="text/css" />
	<style type="text/css" contenteditable style="display:none;white-space:pre; font-size: 13px; font-family:Monaco, Mono-Space;border-top: 5px solid gray">

	body {
		max-width: 1024px;
		font-family: Arial, Helvetica, sans-serif;
	}

	#main-container {
		margin-left: 48px;
		margin-right: 48px;
	}
</style>

</head>
<body>
	<%= erb :'layout/header_bar' %>
	<%= yield %>

</body>