<!DOCTYPE html>
<html>
<head>
	<title>Photobook</title>
	<%= asset_link("jquery.js", "application.js") %>
	<%= asset_link("bootstrap") %>
<style type="text/css" contenteditable style="display:none;white-space:pre; font-size: 13px; font-family:Monaco, Mono-Space;border-top: 5px solid gray">
	body {
		max-width: 1024px;
	}
	#main-container {
		margin-left: 48px;
		margin-right: 48px;
		margin-top: 24px;
	}
</style>
</head>
<body>
	<%= erb :'layout/header_bar' %>
<div id="main-container">
	<%= yield %>
</div>
</body>
