<!DOCTYPE HTML>
<html>
<head>
	<title>Photobook</title>
	<%= asset_link("application.css") %>
	<%= asset_link("jquery.js", "application.js") %>
<style type="text/css">
	body {
		max-width: 1024px;
	}
	#main-container {
		margin-left: 48px;
		margin-right: 48px;
		margin-top: 24px;
	}
</style>
</head>
<body>
	<%= erb :'layout/header_bar' %>
<div id="main-container">
	<%= yield %>
</div>
<%= asset_link("bootstrap") %>
<script>
	<% if env['x-rack.flash'][:error] %>
	PB.error("<%= env['x-rack.flash'][:error].gsub(/\"/, '\'')%>");
	<% end %>
	<% if env['x-rack.flash'][:notice] %>
	PB.info("<%= env['x-rack.flash'][:notice].gsub(/\"/, '\'')%>");
	<% end %>
</script>
</body>
