/* editor.less */

@import "mixin.less";
@import "bootstrap-variables.less";

* { .box-sizing(border-box) }


/* Styles */
@dark-bg-color: #2c2c2c;
@dark-bg-color-lighten: #5c5c5c;
@work-area-color: #ddd;

@navbar-height: @navbarHeight;
@navbar-color: #1b1b1b;

@palette-bookphoto-photo-height: 128px;
@palette-bookphoto-photo-margin: 2px;
@palette-bookphoto-margin-top: 8px;
@palette-bookphoto-height: @palette-bookphoto-photo-height + @palette-bookphoto-margin-top + @palette-bookphoto-photo-margin * 4;

@palette-resize-btn-radius: 20px;

@rough-size: 128px;
@rough-border: 2px solid white;
@rough-border-fade: 1px solid @work-area-color;

/* bootstrap editor tweaks */
html, body {
	height: 100%;
	width: 100%;
}

body {
	.user-select(none);
}

.btn-large {
	letter-spacing: 0.1em;	// too narrow otherwise
}
#error-locked {
	display: none;
	position: absolute;
	width: 80%;
	top: 80px;
	left: 10%;
	background-image: url('/img/alert.png');
	background-size: 80px;
	background-repeat: no-repeat;
	min-height: 80px;
	padding-left: 100px;
}

#lockedMessage {
	font-weight: bold;
}

.navbar {
	margin-bottom: 0px;
}
.navbar-inner {
	.border-radius(0px)
}
.navbar * {
	.user-select(none);
}
#rough-more-tools {
	background-color: white;
	position:absolute;
	z-index: 1;
	width:100%;
	padding-left:24px;
	display:none;
	top:@navbar-height;
	> .btn-group {
		display:inline-block;
	}
}

	#trash-btn {
		position: absolute;
		right: 8px;
		top: -20px;
		background-color: white;
		color: @grayLight;
		font-size: 50px;
		padding: 2px;
	}

#main-content {
	position:absolute;
	top: @navbar-height;
	bottom:0px;
	width:100%;
	overflow: hidden;
	width: 100%;
}

#palette {
	background-color: @dark-bg-color;
	padding: 4px 0 8px 16px;
	* {
		.user-select(none)
	}
}

.palette-container {
	overflow: auto;
	max-height: @palette-bookphoto-height;
	min-height: @palette-bookphoto-height;
	position: relative;
	display: none;
}

.palette-content {
	margin-top: @palette-bookphoto-margin-top;
	padding-right: @palette-resize-btn-radius;
	width: 100%;
}

#palette-resize-btn {
	position: absolute;
	top: @palette-bookphoto-height - @palette-resize-btn-radius + 12;
	width: @palette-resize-btn-radius * 2;
	height: @palette-resize-btn-radius * 2;
	border-radius: @palette-resize-btn-radius;
	background-color: @dark-bg-color;
	bottom: -@palette-resize-btn-radius;
	right: 0;
	border: 1px solid @work-area-color;
	cursor: row-resize;
}
#palette-resize-btn:hover, .resize-hover{
	background-color: @dark-bg-color-lighten;
}

#palette-kind-picker {
	display: inline-block;
	color: @dark-bg-color-lighten;
	margin: 0 16px 0 0px;
	max-width: 128px;
	min-width: 100px;
	vertical-align: top;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding-right: 8px;
	li {
		list-style-type: none;
		cursor: pointer;
		padding-bottom: 8px;
	}
	li:hover {
		color: white;
	}
	li.menuselected {
		color: @grayLight;
	}
}

#palette-bookphoto-container {
	.palette-container;
}

	#palette-bookphoto {
		.photo-div {
			display: inline-block;
			margin: @palette-bookphoto-photo-margin;
			position:relative;
			.status {
				position: absolute;
				top: 4px;
				left: 4px;
				color: white;
				text-shadow: black 0.1em 0.1em 0.2em;
			}
			.info {
				position: absolute;
				bottom: -4px;
				width: 100%;
				text-align: right;
				text-shadow: black 0.1em 0.1em 0.2em;
				overflow:hidden;
				text-overflow: ellipsis;
				color: orange;
			}
			.progress {
				position: absolute;
				bottom: -4px;
				width: 100%;
				height: 12px;
			}
			.face {
				position: absolute;
				border: 1px solid rgba(255,255,255,0.5);
			}
		}
	}

	#palette-bookphoto.drop-target {
		background-color: maroon;
	}

	.drop-target {
		position:relative;
	}
	.drop-target:after {
		box-sizing: border-box;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom:0;
		right:0;
		box-shadow: inset 0 0 5px 5px Highlight;
	}
	.drop-target-outside {
		box-shadow: 0 0 5px 5px Highlight;
	}
	.touch-drag-src {
		position: absolute;
		background-color: white;
		opacity: 0.8;
		list-style-type: none;
		z-index: 1031;
	}

.palette-tile {
	display: inline-block;
	margin: @palette-bookphoto-photo-margin;
	position:relative;
}
.palette-title-tile {
	display: inline-block;
	vertical-align: top;
	color: gray;
	clear:both;
	margin-right: 8px;
}

#work-area {
	background-color: @work-area-color;
	padding: 8px 0 0 16px;
	overflow: hidden;
	.nopalette {

	}
}
#work-area.nopalette {
	padding: 0px;
}
	#work-area-container {
		overflow: auto;
		position:relative;
	}

	#work-area-rough {
		display:none;
		padding-right: @palette-resize-btn-radius;
	}

	#work-area-theme {
		display:none;
	}
		#work-area-size-pick {
			vertical-align: top;
			line-height: 80px;
			li {
				display: inline-block;
				list-style-type: none;
				margin: 8px;
				vertical-align: bottom;
				div.selected {
					box-shadow: 0px 0px 1px 1px black;
				}
				div:hover {
					box-shadow: 0px 0px 1px 1px Highlight;
				}
			}
		}
		.size-pick {
			position: relative;
			border: 1px solid black;
			background-color: #CCC;
			text-align: center;
			padding-top: 16px;
		}
		#theme-picker {
			li {
				position:relative;
				margin-left: 8px;
				display: inline-block;
				list-style-type: none;
				img {
					height: 100px;
				}
				p {
					text-align: center;
				}
			}
			li.selected {
				box-shadow: 0px 0px 1px 1px black;
			}
			li:hover {
				box-shadow: 0px 0px 1px 1px Highlight;
			}
		}

	.manipulator-btn {
		position: absolute;
		top: 0;
		left: 0;
		width: 60px;
		height: 60px;
		color: white;
		background-color: rgba(0,0,0,0.5);
		border-radius: 30px;
		padding: 8px 0 0 14px;
		margin: -30px 0 0 -30px;
		border: 1px solid @work-area-color;
		i {
			font-size: 30px;
			line-height: 1.4;
			margin-left: 0;
		}
	}
	.manipulator-btn.label {
		border-radius: 0px;
		width: 40px;
		height: 40px;
		margin: -20px 0 0 -20px;
		i {
			line-height: 0.7;
			margin-left: -8px;
		}
	}
	.manipulator-circle {
		position: absolute;
		width: 200px;
		height: 200px;
		border: 2px dotted black;
		border-radius: 100px;
		margin: -100px 0 0 -100px;
	}
	.manipulator-textarea {
		position:absolute;
		overflow:hidden;
		padding: 0;
	}
	@button-radius: 20px;
	#work-area-design {
		display:none;
		position:relative;
		height:100%;
		padding-top: 4px;
		.perspective(1600px);
	}
	#work-area-design-btn-back, #work-area-design-btn-forward {
		position: absolute;
		top: 45%;
	}
	#work-area-design-btn-animate {
		display: none;
	}
	#work-area-design-btn-back {
		left:0px;
	}
	#work-area-design-btn-forward {
		right:0px;
	}

	.design-book-page-left, .design-book-page-right {
		position: absolute;
		border: 1px solid #DDD;
		background-color: white;
		.box-sizing(content-box);
		.pageTitle {
				position:absolute;
				bottom: -30px;
				width: 100%;
				text-align: center;
			}
	}
	.design-page {
		position: absolute;
		overflow: hidden;
		.transform-origin(left, top);
	}
	.design-page.placeholder {
		background-color: gray;
	}
		.selected {
			box-shadow: 0px 0px 5px 5px Highlight;
		}
		.selected:after {
			width: 100%;
			height: 100%;
/*			box-shadow: inset 0px 0px 2px 2px Highlight; */
			position: absolute;
			content: "\2713";
			text-align: right;
			text-shadow: 1px 0px 3px rgba(0, 255, 0, 1);
			top: 0px;
			left: 0px;
		}
		.design-background {
			position: absolute;
			width: 100% ;
			height: 100% ;
		}
		.design-photo {
			position: absolute;
		}
		.design-photo-inner {
			position:absolute;
			top: 0px;
			left: 0px;
			overflow: hidden;
		}
		.design-photo-img {
			position:absolute;
			max-width: none;
			background-color: gray;
		}
		.design-frame {
			position:absolute;
			top: 0px;
			left: 0px;
		}
		.design-text {
			position:absolute;
		}
		.design-text-content {
			position: absolute;
			background-color: white;
			white-space: pre-wrap;
		}
		.design-widget {
			position: absolute;
		}
		.design-widget-inner {
			position: absolute;
			top: 0px;
			left: 0px;
		}
		.design-selection {
			position:absolute;
			border: 2px solid Highlight;
		}
		.design-select-popup {
			position: absolute;
			display:block;
		}
		@arrow-size: 10px;
		.design-select-popup:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-left: @arrow-size solid transparent;
			border-right: @arrow-size solid transparent;
			border-top: @arrow-size solid @white;
			left: 20px;
			bottom: -@arrow-size;
		}
	#work-area-print {
		display:none;
		background-color: white;
		height: 100%;
	}

	.rough-page {
		position: relative;
		display: inline-block;
		width: @rough-size;
		height: @rough-size;
		border: 1px solid black;
		p {
			.user-select(none);
			position: absolute;
			text-align: center;
			width: 100%;
			bottom: -10px;
			color: #999 ;
		}
	}
		.left-rough {
			border: @rough-border;
			border-right: @rough-border-fade;
			margin-left: 6px;
			box-shadow:-2px 0px 4px #B3B3B3;
		}

		.right-rough {
			border: @rough-border;
			border-left: @rough-border-fade;
			margin-right: 10px;
			box-shadow: 2px 0px 4px #B3B3B3;
		}
	.rough-page-cover {
		border: @rough-border;
		margin-left: 0px;
		margin-right: 0px;
	}
	.rough-page-cover-flap {
		width: @rough-size / 3;
		border: @rough-border;
		border-left: 0px none;
	}
	.rough-page-back {
		border: @rough-border;
		margin-right: 32px;
	}
	.rough-page-back-flap {
		border: @rough-border;
		border-right: 0px none;
		width: @rough-size / 3;
	}
	.rough-tile {
		position: relative;
		float: left;
		width: 30px;
		height: 30px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: transparent;
	}

