/* editor.less */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.no-selection {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* PhotoBook editor styles */
@dark-bg-color: #2c2c2c;
@dark-bg-color-lighten: #5c5c5c;
@work-area-color: #ddd;

@navbar-height: 41px;
@image-height: 128px;
@image-padding: 12px;
@photo-list-height: @image-height + @image-padding;
@palette-height: @navbar-height + @photo-list-height;
@side-tool-width: 120px;
@arrow-width: 28px;

/* bootstrap editor tweaks */
html, body {
	height: 100%;
	width: 100%;
}

body {
	.no-selection;
}

#error-locked {
	display: none;
	position: absolute;
	width: 80%;
	top: 80px;
	left: 10%;
	background-image: url('/img/alert.png');
	background-size: 80px;
	background-repeat: no-repeat;
	min-height: 80px;
	padding-left: 100px;
}
#lockedMessage {
	font-weight: bold;
}

.navbar {
	margin-bottom: 0px;
}

/* draw a line under navigation bar to make it look like big tabs */
.nav-tabs {
	border-bottom: 0px solid @work-area-color;
}
.navbar {
	border-bottom: 1px solid @work-area-color;
}


#pb {
	position:relative;
	height: 100%;
	min-height: 100%;
	background-color: red;
}

#toolmenu {
	position: absolute;
	display: none;
	top: 8px;
	left: 8px;
}

#pb-palette {
	position: absolute;
	top: 0;
	height: @palette-height;
	width: 100%;
	background-color:@dark-bg-color;
}

@palette-resize-btn-radius: 20px;

#palette-resize-btn {
	position: absolute;
	width: @palette-resize-btn-radius * 2;
	height: @palette-resize-btn-radius * 2;
	border-radius: @palette-resize-btn-radius;
	background-color: @dark-bg-color;
	bottom: -@palette-resize-btn-radius;
	right: @palette-resize-btn-radius;
	border: 1px solid @work-area-color;
	cursor: row-resize;
}
#palette-resize-btn:hover, .resize-hover{
	background-color: @dark-bg-color-lighten;
}

.pb-palette-container {
	overflow: auto;
	margin-left:0px;
/*	top: @navbar-height; */
	max-height: @photo-list-height;
	position: relative;
}
#photo-list-container {
	.pb-palette-container;
}

	#photo-list {
		margin-top: 8px;
		padding-left: @side-tool-width;
		padding-right: @palette-resize-btn-radius / 2;
		width: 100%;
	}

	#photo-list.drop-target {
		background-color: maroon;
	}
		#photo-list .photo-div {
			display: inline-block;
			margin: 2px;
			max-height: @image-height;
			position:relative;
		}
			#photo-list .photo-div img {
				max-height: @image-height;
			}
			#photo-list .photo-div .status {
				position: absolute;
				top: 4px;
				left: 4px;
				color: white;
				text-shadow: black 0.1em 0.1em 0.2em;
			}
			#photo-list .photo-div .progress {
				position: absolute;
				bottom: -4px;
				width: 100%;
				height: 12px;
			}

	#photo-list-tools {
			position:fixed;
			padding: 8px;
			width: @side-tool-width;
			max-height: @photo-list-height;
		}

#background-list-container {
	.pb-palette-container;
}
#layout-list-container {
	.pb-palette-container;
}
#gadget-list-container {
	.pb-palette-container;
}

#pb-work-area {
	height: 100%;
	padding-top: @palette-height;
	overflow: auto;
	background-color: @work-area-color;
	-moz-box-sizing: padding-box;
	box-sizing: border-box;
}
	#work-area-back {
		position: absolute;
		width: @arrow-width;
		height:46px;
		top: (@palette-height - 46) / 2;
		left: 0px;
		background: url('/img/arrows.png') -28px 2px;
	}
	#work-area-back:hover {
		background:  url('/img/arrows.png') 0 0, url('/img/arrows.png') -28px 2px;
	}
	#work-area-forward {
		position: absolute;
		width: @arrow-width;
		height:46px;
		top: (@palette-height - 46) / 2;
		right:-1px;
		background: url('/img/arrows.png') -85px 2px;
	}
	#work-area-forward:hover {
		background:  url('/img/arrows.png') -57px 0, url('/img/arrows.png') -85px 2px;
	}

	#work-area-tools {
		position:fixed;
		left: 0;
		top: 0;
		padding: 8px;
		padding-top: @palette-height;
		margin-top: 24px;
		width: @side-tool-width;
		height: 100%;
		background-color: @dark-bg-color;
	}
	#work-area-tools > .btn {
		width:100%;
		text-align: left;
	}

	#work-area-rough {
		margin: 24px 16px 4px @side-tool-width + 24px;
	}

@rough-size: 128px;
@rough-border: 2px solid white;
@rough-border-fade: 1px solid @work-area-color;

	.rough-page {
		position: relative;
		display: inline-block;
		width: @rough-size;
		height: @rough-size;
		border: 1px solid black;
	}
		.rough-page p {
			.no-selection;
			position: absolute;
			text-align: center;
			width: 100%;
			bottom: -10px;
			color: #999 ;
		}
		.left-rough {
			border: @rough-border;
			border-right: @rough-border-fade;
			margin-left: 6px;
			box-shadow:-2px 0px 4px #B3B3B3;
		}

		.right-rough {
			border: @rough-border;
			border-left: @rough-border-fade;
			margin-right: 10px;
			box-shadow: 2px 0px 4px #B3B3B3;
		}
	.rough-page-cover {
		border: @rough-border;
		margin-left: 0px;
		margin-right: 0px;
	}
	.rough-page-cover-flap {
		width: @rough-size / 3;
		border: @rough-border;
		border-left: 0px none;
	}
	.rough-page-back {
		border: @rough-border;
		margin-right: 32px;
	}
	.rough-page-back-flap {
		border: @rough-border;
		border-right: 0px none;
		width: @rough-size / 3;
	}
	.rough-tile {
		position: relative;
		float: left;
		width: 30px;
		height: 30px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: none;
	}
	.drop-target {
		position:relative;
	}
	.drop-target:after {
		box-sizing: border-box;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom:0;
		right:0;
		box-shadow: inset 0 0 20px red;
	}
	.drop-target-btn {
	}
	.drop-target-btn:after {
		content: "";

	}
	.touch-drag-src {
		background-color: white;
		opacity: 0.7;
	}
