/* editor.less */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.user-select(@select) {
	-webkit-user-select: @select;
	-moz-user-select: @select;
	-ms-user-select: @select;
	-o-user-select: @select;
	user-select: @select;
}

/* Styles */
@dark-bg-color: #2c2c2c;
@dark-bg-color-lighten: #5c5c5c;
@work-area-color: #ddd;

@navbar-height: 42px;
@navbar-color: #1b1b1b;

@sidebar-width: 160px;

@photo-list-photo-height: 128px;
@photo-list-photo-margin: 2px;
@photo-list-margin-top: 8px;
@photo-list-height: @photo-list-photo-height + @photo-list-margin-top + @photo-list-photo-margin * 4;

@palette-resize-btn-radius: 20px;

@rough-size: 128px;
@rough-border: 2px solid white;
@rough-border-fade: 1px solid @work-area-color;

/* bootstrap editor tweaks */
html, body {
	height: 100%;
	width: 100%;
}

body {
	.user-select(none);
}

#error-locked {
	display: none;
	position: absolute;
	width: 80%;
	top: 80px;
	left: 10%;
	background-image: url('/img/alert.png');
	background-size: 80px;
	background-repeat: no-repeat;
	min-height: 80px;
	padding-left: 100px;
}

#lockedMessage {
	font-weight: bold;
}

.navbar {
	margin-bottom: 0px;
}
.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#rough-more-tools {
	background-color: white;
	position:absolute;
	z-index: 1;
	width:100%;
	padding-left:24px;
	display:none;
	top:@navbar-height;
}
#rough-more-tools > .btn-group {
	display:inline-block;
}

#sidebar {
	position: absolute;
	top: @navbar-height;
	left:0px;
	bottom:0px;
	width: @sidebar-width;
	background-color: @navbar-color;
}

#sidebar * {
	.user-select(none);
}
	#trash-btn {
		position:absolute;
		bottom:0px;
		right:0px;
		left:0px;
		margin-bottom:0px;
		background-color: @navbar-color;
	}

	#sidebar > .nav-tabs.nav-stacked > li:first-child > a {
		-webkit-border-top-right-radius: 0px;
		border-top-right-radius: 0px;
		-webkit-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-topleft: 0px;
	}
	#sidebar > .nav-tabs.nav-stacked > li:last-child > a {
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	}

#main-content {
	position:absolute;
	top: @navbar-height;
	left: @sidebar-width;
	bottom:0px;
	width:100%;
	overflow: hidden;
}

#palette {
	background-color: @dark-bg-color;
	padding: 4px 0 8px 16px;
}

#palette * {
	.user-select(none)
}

.pb-palette-container {
	overflow: auto;
	max-height: @photo-list-height;
	min-height: @photo-list-height;
	position: relative;
}
#photo-list-container {
	.pb-palette-container;
}

	#photo-list {
		margin-top: @photo-list-margin-top;
		padding-right: @palette-resize-btn-radius / 2;
		width: 100%;
	}

	#photo-list.drop-target {
		background-color: maroon;
	}
		#photo-list .photo-div {
			display: inline-block;
			margin: @photo-list-photo-margin;
			position:relative;
		}
			#photo-list .photo-div .status {
				position: absolute;
				top: 4px;
				left: 4px;
				color: white;
				text-shadow: black 0.1em 0.1em 0.2em;
			}
			#photo-list .photo-div .info {
				position: absolute;
				bottom: -4px;
				width: 100%;
				text-align: right;
				overflow:hidden;
				font-weight:bold;
				color: orange;

			}
			#photo-list .photo-div .progress {
				position: absolute;
				bottom: -4px;
				width: 100%;
				height: 12px;
			}


	.drop-target {
		position:relative;
	}
	.drop-target:after {
		box-sizing: border-box;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom:0;
		right:0;
		box-shadow: inset 0 0 20px red;
	}

	.touch-drag-src {
		background-color: white;
		opacity: 0.7;
	}

#work-area {
	background-color: @work-area-color;
	padding:8px 0 0 16px;
	overflow: hidden;
}
	#work-area-container {
		overflow: auto;
	}

	.rough-page {
		position: relative;
		display: inline-block;
		width: @rough-size;
		height: @rough-size;
		border: 1px solid black;
	}
		.rough-page p {
			.user-select(none);
			position: absolute;
			text-align: center;
			width: 100%;
			bottom: -10px;
			color: #999 ;
		}
		.left-rough {
			border: @rough-border;
			border-right: @rough-border-fade;
			margin-left: 6px;
			box-shadow:-2px 0px 4px #B3B3B3;
		}

		.right-rough {
			border: @rough-border;
			border-left: @rough-border-fade;
			margin-right: 10px;
			box-shadow: 2px 0px 4px #B3B3B3;
		}
	.rough-page-cover {
		border: @rough-border;
		margin-left: 0px;
		margin-right: 0px;
	}
	.rough-page-cover-flap {
		width: @rough-size / 3;
		border: @rough-border;
		border-left: 0px none;
	}
	.rough-page-back {
		border: @rough-border;
		margin-right: 32px;
	}
	.rough-page-back-flap {
		border: @rough-border;
		border-right: 0px none;
		width: @rough-size / 3;
	}
	.rough-tile {
		position: relative;
		float: left;
		width: 30px;
		height: 30px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: none;
	}
/* NEW STUFF */


#palette-resize-btn {
	position: absolute;
	top: @photo-list-height - @palette-resize-btn-radius + 12;
	width: @palette-resize-btn-radius * 2;
	height: @palette-resize-btn-radius * 2;
	border-radius: @palette-resize-btn-radius;
	background-color: @dark-bg-color;
	bottom: -@palette-resize-btn-radius;
	right: 0;
	border: 1px solid @work-area-color;
	cursor: row-resize;
}
#palette-resize-btn:hover, .resize-hover{
	background-color: @dark-bg-color-lighten;
}

