<!DOCTYPE html>
<html>
<head>
	<title>Test: Border image</title>
	<%= asset_link("jquery.js", "jquery-ui.js", "transform.js", "application.js") %>
	<%= asset_link("editor.js", "editor.model.js", "editor.command.js") %>
	<%= asset_link("jquery-ui.css", "application.css") %>
<style type="text/css">
#main-container {
	position: relative;
	background-color: #EEE;
	width: 100%;
	overflow: hidden;
}
.book-page {
	display:block;
	position:relative;
	overflow:hidden;
}
.book-page * {
	position: absolute;  /* book page elements are absolutely positioned by default */
}
.book-image {
	background-color:gray;
	overflow:hidden;
}
.borderPictureFrame {
	border-style: ridge;
	border-width: 16px 16px 16px 16px;
 	-webkit-border-image: url('/img/border-picture-frame.png') 16 16 16 16 stretch;
 	-moz-border-image: url('/img/border-picture-frame.png') 16 16 16 16 stretch;
}
.borderChain {
 	border-width: 23px 22px 22px 26px;
  border-color: black;
  -moz-border-image:    url('/img/border-chain.png') 23 22 22 26 round;
  -webkit-border-image: url('/img/border-chain.png') 23 22 22 26 round;
  -o-border-image:      url('/img/border-chain.png') 23 22 22 26 round;
  border-image:         url('/img/border-chain.png') 23 22 22 26 round;
}

.borderBalloon {
	border-width: 40px 50px 60px 50px;
	-moz-border-image: url('/img/border-balloon.png') 40 50 60 50  round;
	-webkit-border-image: url('/img/border-balloon.png') 40 50 60 50  round;
	-o-border-image: url('/img/border-balloon.png') 40 50 60 50  round;
	border-image: url('/img/border-balloon.png') 40 50 60 50  round;
}

.borderBalloon2 {
	border-width: 10px 10px 10px 10px;
	-moz-border-image: url('/img/border-balloon.png') 40 50 60 50  round;
	-webkit-border-image: url('/img/border-balloon.png') 40 50 60 50  round;
	-o-border-image: url('/img/border-balloon.png') 40 50 60 50  round;
	border-image: url('/img/border-balloon.png') 40 50 60 50  round;
}
</style>
</head>
<body>
<%= erb :'layout/header_bar' %>
<button onclick="testVertical()">Test vertical</button>
<button onclick="testHorizontal()">Test horizontal</button>
<button onclick="testRotate()">Test rotate</button>
<button onclick="stop()">Stop</button>
<div id="f1" class="borderPictureFrame" 
	style="background-color: yellow;position:absolute;top:121.66px;left:121.66px;width:291.89px;height:195.92px">
	Border picture
	</div>

<script type="text/javascript">
	var vert = 0, hori = 0;
	var rotId = 0;
	function stop() {
		window.clearInterval(vert); 
		window.clearInterval(hori);
		window.clearInterval(rotId);
	}
	function testVertical() {
		vert = window.setInterval(function() {
			var x = parseFloat($("#f1").css("height")) * 1.01;
			console.log("verti", x);
			$("#f1").css("height",x + "px");
		}, 30);
	}
	function testHorizontal() {
		hori = window.setInterval(function() {
			var x = parseFloat($("#f1").css("width")) * 1.01;
			console.log("horiz", x);
			$("#f1").css("width", x + "px");
		}, 300);
	}
	
	function testRotate() {
		var rotation = 0;
		rotId = window.setInterval(function() {
			$("#f1").css({
				"-moz-transform": "rotate(" + rotation + "deg)",
				"-webkit-transform": "rotate(" + rotation + "deg)"
			});
			rotation += 1;
		}, 10);
	}
	

</script>
