<!DOCTYPE html>
<html>
<head>
<title>IE10 fixup</title>
<script src="http://code.jquery.com/jquery-2.0.0.js"></script>
<%= asset_link( "application.js") %>
<%= asset_link("gradients.js") %>
<%= asset_link("jquery.hammer.js") %>
<%= asset_link("jquery.dataSelector.js") %>
<%= asset_link("jquery.transit.js") %>
<%= asset_link("bootstrap") %>
<%= asset_link("application.css", "editor.css") %>
<style type="text/css">
.square {
    background-color: gray;
    width: 100px;
    height: 100px;
}
</style>
</head>
<body>
<div id='1' class='square'>
I square
</div>
<script type='text/javascript'>
$(document).on('mousedown.dnd touchstart.dnd', '.square', function(ev) {
	console.log('mousedown');
});
</script>
</body>
