<!DOCTYPE html>
<html>
<head>
	<title>Test: Image upload</title>
	<%= asset_link("jquery.js", "jquery-ui.js", "application.js", "editor-base") %>
	<%= asset_link("jquery-ui.css", "application.css") %>
</head>
<body>
<%= erb :'layout/header_bar' %>
<h1>File upload test</h1>
<input type="file" id="file-dialog" multiple="true" accept="image/*">
<button onclick="uploadFiles()">Upload</button>
<h1>Various upload tests</h1>
<form id="form" action="/jsontest" method="get">
<input id="GET-name" type="text" name="name">  
  <input type="submit" value="GET test"> 
</form>
<button >GET test</button>
<form id="form" action="/jsontest" method="post">
<input id="GET-name" type="text" name="name">  
  <input type="submit" value="POST test"> 
</form>
<br>
<button onclick="test_getXHR()">GET XHR</button>
<button onclick="test_postXHR()">POST XHR</button>
<script>
	function uploadFiles() {
		var el = $("#file-dialog").get(0);
		for (var i=0; i<el.files.length; i++) {
			var image = new PB.PhotoBroker(el.files.item(i));
			image.saveOnServer(2, false);
		}
	}
	function 
</script>
</body>
