<!DOCTYPE html>
<html>
<head>
	<title>Test: JQuery Dialog</title>
	<%= asset_link("jquery.js", "jquery-ui.js", "transform.js", "application.js") %>
	<%= asset_link("editor-base") %>
	<%= asset_link("jquery-ui.css", "application.css") %>
<style type="text/css">

#pick-page-filter {
	margin: 4px 4px 8px 8px;
}
#pick-page-icons .page-icon, #pick-page-icons .pick-page-numbers {
	display: inline-block;
	border: 1px solid #ccc;
	vertical-align: top;
	margin:4px;
}

#pick-page-icons *.selected {
	border: 1px solid yellow;
}
#pick-page-count {
	font-size: 80%;
}
#add-random {
	width: 64px;
	height: 64px;
	background-image: url(/images/surprise.png);
	background-size: 64px 64px;
	background-position: 0 -4px;
	background-repeat: none;
}
#add-random p {
	position: relative;
	font-size: 80%;
	top: 50px;
	text-align:center;
}

.pick-page-numbers {
	border: 1px solid #ccc;
	border-radius: 32px;
	position: relative;
	width: 64px;
	height: 64px;
	font-size: 60px;
	overflow:hidden;
	text-align:center;
	color:#ccc;
}
.pick-page-numbers p {
	margin-top: -6px;
}

</style>
<script type="text/javascript">
	

// Displays a list of template pages to pick from.
// Used for new pages
PageDialog = {
	// Shows the dialog
	show: function(options) {
		
		options = $.extend( {
			filter: function(x) { return true;},
			ok: function(pages) { pages.forEach(function(p) { console.log("page " + p.id)} ) },
			title: "Pick a page demo",
			showPageCount: true,
			showTextField: true
		}, options);
		
		if ($("#pick-page-icons .page-icon").length == 0)	{
			var deferred = PB.BookTemplate.get("modern_lines");
			deferred.done(function(template) {
					PageDialog.initializeAddPageDialog(template);
					PageDialog.show(options);
				});	
		}
		else {
			// process options, show dialog
			$("#pick-page-count").val('1');
			PageDialog.filterPageDialog(options.filter);
			PageDialog.filterText();
			$("#pick-page-dialog")
				.data("options", options)
				.dialog("option", "title", options.title)
				.dialog("open");
		}
	},

	// Options for AddPage dialog style
	addPageOptions: {
		filter: function(page) {
				// filter middle pages, number pages + random
				if (typeof page == "string") {
					if (page == "random")
						return true;
					else if (page == "number")
						return true;
				}
				else
					return page.position == "middle";
			},
		title: "Pick a style for a new page:"
	},
	// Options for ChangeLayout dialog style
	changeLayoutOptions: function(pagePosition) {
		return {
			filter: function(page) {
				if (typeof page == "string")
					return pagePosition == "middle" && page == "number";
				else 
					return page.position == pagePosition;
			},
			title: "Pick a new layout"
		}
	},
	
	// Filter helper
	filterPageDialog: function (filter) {
		$("#pick-page-icons .page-icon").each(function(i, el) {
			var page = $(el).data("page");
			if (filter(page)) {
				$(el).addClass("pick-page-ready").show();
			}
			else
				$(el).removeClass("pick-page-ready").hide();
		});
	},

	filterText: function() {
		var showText = $('#pick-page-text').get(0).checked;
		$("#pick-page-icons .pick-page-ready").each(function(i,el) {
			el = $(el);
			var page = el.data("page");
			var show = showText 
				|| (typeof page == "object" && "text_count" in page && page.text_count < 1)
				|| (typeof page == "string");
			if (show)
				el.show();
			else
				el.hide();
		});
	},
	
	// Click event callback
	clickIcon: function() {
		var THIS = $(this);
		if (THIS.hasClass("selected"))
			return;
		$("#pick-page-icons .page-icon").each(function(i, el) {
			if (THIS.is(el))
				$(el).addClass("selected");
			else
				$(el).removeClass("selected");
		});
	},
	
	dblClickIcon: function() {
		PageDialog.close(true);	
	},
	
	// Initializes page dialog from the template
	// All possible pages are inserted into DOM. Different dialog styles filter them out'
	// Pages are: 
	// standard page icons, random icon, and number icons
	initializeAddPageDialog: function (template) {
		$( "#pick-page-dialog" ).dialog({
			autoOpen: false,
			height: 400,
			width: 700,
			modal: true,
			draggable: false,
			title: "DEMO PICK"
		});

		// collect the pages
		var pages = template.pages.sort(PB.PageTemplate.sortFunction);
		// add random icon
		var randomDiv = $("<div id='add-random' class='page-icon'><p>random</p></div>");
		randomDiv.data("page", "random");
		randomDiv.click(PageDialog.clickIcon);
		$("#pick-page-icons").append(randomDiv);
		// fill in the pages
		var last_image_count = 0;
		pages.forEach(function(page) {
			// Add number icons for middle position
			if (page.position == "middle" && page.image_count > 0 && page.image_count != last_image_count) {
				last_image_count = page.image_count;
				var numberDiv = $("<div class='pick-page-numbers page-icon'><p>" + page.image_count + "</p></div>");
				numberDiv.data("page", "number");
				$("#pick-page-icons").append(numberDiv);
			}
			var icon = page.toIcon( {desiredHeight: 64} );
			icon.data("page", page);
			icon.click(PageDialog.clickIcon);
			icon.dblclick(PageDialog.dblClickIcon);
			$("#pick-page-icons").append(icon);
		});
		// button events	
		$("#pick-page-text").change(function() {
			PageDialog.filterText();
		}).attr("checked", true);
		$("#pick-page-cancel").click(function() {
			PageDialog.close(false);
		});
		$("#pick-page-ok")
			.click(function() { PageDialog.close(true); });
		
	},
	close: function(ok) {
		var d = $("#pick-page-dialog");
		if (ok) {
			d.data("options").ok(PageDialog.selection());
		}
		$("#pick-page-dialog").dialog("close");
	},
	// Returns array of selection
	selection: function() {
		var sel = [];
		$("#pick-page-icons .pick-page-ready").each(function(i,el) {
			if ($(el).hasClass("selected"))
				sel.push($(el).data('page'));
		});
		return sel;
	}
}

</script>
</head>
<body>
<div id="pick-page-dialog" style="display:none">
	<div id="pick-page-filter">
		<input id="pick-page-text" type="checkbox" ><label for='pick-page-text'> with text</label>
		| <label for='pick-page-count'>pages to add</label> <select id='pick-page-count'>
			<option value="1" checked>1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="10">10</option>
		</select>
		<div style="float:right">
			<button id="pick-page-ok" >ok</button>
			<button id="pick-page-cancel">cancel</button>
		</div>
	</div>
	<div id="pick-page-icons"></div>
</div>
<button onclick="PageDialog.show(PageDialog.changeLayoutOptions('cover'))">Cover page</button>
<button onclick="PageDialog.show(PageDialog.changeLayoutOptions('flap'))">Flap</button>
<button onclick="PageDialog.show(PageDialog.changeLayoutOptions('middle'))">Middle</button>
<button onclick="PageDialog.show(PageDialog.changeLayoutOptions('back'))">Back</button>
	<div id="lipsum">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare vulputate pretium. Nunc egestas erat vel nisl gravida id sollicitudin erat vehicula. Duis justo neque, pulvinar in scelerisque eget, sollicitudin at nisi. Donec ultricies sapien at arcu laoreet blandit. Cras scelerisque, est id elementum tempus, massa lacus vulputate ligula, non consectetur lorem nulla ac diam. Nunc pellentesque imperdiet faucibus. Donec at leo vel felis semper volutpat et et quam. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas scelerisque ultricies faucibus. Etiam sed ante ipsum. Ut tristique fermentum iaculis. Phasellus dictum malesuada placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer malesuada adipiscing turpis id feugiat.
</p>
<p>
Duis risus nibh, volutpat vestibulum pulvinar eu, cursus in mi. Mauris semper justo eu lorem aliquam pretium ac nec odio. Morbi est leo, fermentum sed facilisis ac, posuere a magna. Mauris commodo libero at sapien sollicitudin in semper lacus luctus. Curabitur a sapien magna, sit amet luctus leo. Integer auctor adipiscing porta. Aliquam sit amet cursus nibh. Vivamus eu elit tortor, fringilla sollicitudin sapien. Suspendisse auctor orci vitae turpis aliquet adipiscing. Cras id sem sed nisi mattis porta. Praesent ultricies sapien ut nisi ultricies lacinia. Nam ac dolor eget nisi sagittis auctor. Integer varius nisi tincidunt dui placerat porta. Nam vitae nisi eget lorem malesuada cursus eu vel nisl.
</p>
<p>
Nunc non felis massa. Nullam euismod vestibulum risus sed eleifend. Nam adipiscing sagittis lorem, in pulvinar sem condimentum vel. Duis a felis non nibh hendrerit rutrum. Maecenas fermentum purus id dui porta tempor. Pellentesque elit magna, dignissim ut congue quis, interdum quis erat. In a nibh mi, pulvinar ultrices enim. Sed interdum turpis sit amet libero ullamcorper lacinia. Aenean in sem in ante dapibus malesuada. Praesent facilisis lobortis adipiscing. Integer id vulputate enim. Curabitur euismod turpis in orci ullamcorper gravida et sed elit. Ut ullamcorper, mi non molestie tempor, ipsum risus vehicula felis, nec posuere nisl risus vitae erat. Nulla facilisi. Maecenas in nulla nec justo mattis lacinia nec ac sapien. Ut a massa lacus, eu tristique est.
</p>
<p>
Aliquam commodo egestas massa, a vestibulum odio suscipit vitae. Sed non dui mi. Maecenas lacus augue, pulvinar id scelerisque in, elementum vitae risus. Donec venenatis auctor urna. Suspendisse lobortis faucibus metus, sed lacinia neque adipiscing vitae. Nullam interdum, est in lobortis cursus, velit mauris adipiscing turpis, rutrum accumsan magna ipsum semper urna. Vivamus sapien elit, volutpat ac egestas vitae, ultrices in dolor. Quisque aliquet eros sed mauris bibendum nec fringilla sem gravida. Nunc posuere, ipsum eget venenatis dignissim, nisi sem mattis justo, vitae convallis nulla massa at justo. Nulla semper, magna id adipiscing semper, justo lacus euismod risus, vitae laoreet libero elit scelerisque nisi. Suspendisse ut est vitae enim euismod volutpat. Fusce id ornare tortor. Duis non tellus auctor lacus scelerisque ultrices at quis neque. Nulla at diam lectus.
</p>
<p>
Curabitur et elit diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In imperdiet quam laoreet nisl pretium a egestas ante fringilla. Integer nisl orci, aliquam egestas fringilla vel, ornare eu nisl. Donec non sem at sapien tincidunt tristique. Donec dapibus elementum scelerisque. Vestibulum dignissim sapien vel sapien scelerisque lacinia.
</p></div>
<script>
		$(document).ready(function() {
			PageDialog.show(PageDialog.addPageOptions);
		});
//		$(".ui-dialog-titlebar").remove();
</script>
</body>