<!DOCTYPE html>
<html>
<head>
	<title>Test: Deferred</title>
	<%= asset_link("jquery.js", "application.js", "editor.js", "editor.model.js") %>
	<%= asset_link("jquery-ui.css", "application.css") %>
</head>
<body>
<%= erb :'layout/header_bar' %>
<h1>Test: Deferred</h1>
Check out the console
<script>
	var filter = PB.DeferredFilter.getNetworkErrorFilter();
	console.log("Filter availability " + filter.ready(PB.ImageUploadQueue));
	console.log("Set error to true, message should pop up");
	filter.setNetworkError(true);
	console.log("Filter availability " + filter.ready(PB.ImageUploadQueue));
	window.setTimeout(function() {
		console.log("Set error to false");
		filter.setNetworkError(false);
		console.log("Filter availability " + filter.ready(PB.ImageUploadQueue));
	}, 6000);
</script>
