<!DOCTYPE html>
<html>
<head>
	<title>Test: JQuery Dialog</title>
	<%= asset_link("jquery.js", "jquery-ui.js", "transform.js", "application.js") %>
	<%= asset_link("editor-base") %>
	<%= asset_link("jquery-ui.css", "application.css") %>
</head>
<body>
<script type="text/javascript">
	var book = new PB.Book(<%= PB::Book.get(26).to_json %>);
	book.bind("serverStreamUpToDate", function() {
		console.log("serverStreamUpToDate");
	});
	
	function connectToServer() {
		book.connectServerStream();
	}
	
	function disconnectFromServer() {
		book.stream.close();
	}
</script>
<h1>Server stream testing</h1>
<button onclick="connectToServer()">Connect</button>
<button onclick="disconnectFromServer()">Disconnect</button>